.constainer{

    margin: auto;
    margin-top: 5%;
    padding: 0;
    width: 50%;
    height: 550px;
    border: 2px groove rgb(66, 65, 65);
    position: relative;
}

.container1{
  top: 10%;
  left: 5%;
  justify-content: space-between;
  text-align: center;
  width: 40%;
  height: 400px;
  border: 2px double rgb(25, 39, 195);
  position: absolute;
}

.constainer2{
    right: 5%;
    top: 10%;
    justify-content: space-between;
    text-align: center;
    width: 40%;
    height: 400px;
    border: 1px double rgb(198, 23, 23);
    position: absolute;

}